.SearchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgrey;
}


.SearchPage__logo{
    object-fit: contain;
    height: 50px;
    margin-right: 50px;  
}
.SearchPage__headerBody > .search > .search__input{
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPage__Options {
    display: flex;
    align-items: center;
    color: gray;
}
.searchPage__Options a, 
.searchPage__OptionsRight a {
    text-decoration: none;
    color: gray;
}
.searchPage__OptionsLeft, 
.searchPage__OptionsRight  {
    display: flex;
}
.searchPage__OptionsRight {
    margin-left: 80px;
}
.searchPage__Options{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.searchPage__Options a{
    margin-left: 5px;
}
.SearchPage__result{
    margin: 40px 0;
}
SearchPage__resultCount{
    color: #70757a;
    font-size: 14px;

}

.SearchPage__results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.SearchPage__resultTitle{
    text-decoration: none;
}
.SearchPage__resultTitle:hover{
    text-decoration: underline;
}
.SearchPage__resultTitle > h2{
    font-weight: 500;
}
.SearchPage__resultsSnippet{
    margin-top: 10px;
}
.searchPage__resultImage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}